table, tr, th, td{
    border: 1px solid black;
    width: 600px;
    height: 50;
    text-align: left;
    border-collapse: collapse;
}

p{
    font-weight: normal;
}

th{
    background-color: rgb(194, 191, 191);
}

img{
    width: 500px;
    height: 500px;
}
#cascada{
    width: 300px;
    height: 250px;
}

